<!DOCTYPE html>
<html lang="<%= res.getLocale() %>">
    <head>
        <title>Game Bot | Monopoly</title>
        
        <meta name="theme-color" content="<%= req.color %>">

        <%- include("../utils/header") %>
    </head>
    <body>

        <%- include("../utils/notif") %>
        <div class="flex h-screen flex-grow">
            <div class="board grid justify-center content-center m-auto">
                <img alt="Plateau" class="hidden board-image h-[500px]">
            </div>
        </div>
            
        <script src="/socket.io/socket.io.js"></script>
        <script>
            // http://localhost:3000/play/27319

            // Get the gameId from the url
            const gameId = window.location.pathname.split("/")[2]
            const socket = io()
            let texts

            socket.on("connect", () => {
                socket.emit("join", { 
                    gameId,
                    username: "<%= req.session.username %>"
                })
            })
            
            socket.on("joined", (data) => {
                if (!texts) texts = data.texts

                // Add a notification
                document.querySelector(".all-notif")
                    .insertAdjacentHTML("beforeend", `
                        <div class="notif notif-0 text-center ml-auto animate-rightToLeft">
                            <div class="p-2 bg-green items-center text-white leading-none flex lg:inline-flex">
                                <span class="flex rounded-full uppercase px-2 py-1 text-xs font-bold mr-3">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="font-semibold mr-2 text-left flex-auto">
                                    Quelqu'un a rejoint la partie    
                                </span>
                            </div>
                        </div>
                    `)
                
                refreshNotif()

                // Add the board
                document.querySelector(".board-image").classList.remove("hidden")
                document.querySelector(".board-image").src = data.canvas

                // console.log(data)
            })

            socket.on("error", (data) => {
                document.querySelector(".all-notif")
                    .insertAdjacentHTML("beforeend", `
                        <div class="notif notif-0 text-center ml-auto animate-rightToLeft">
                            <div class="p-2 bg-red items-center text-white leading-none flex lg:inline-flex">
                                <span class="flex rounded-full uppercase px-2 py-1 text-xs font-bold mr-3">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span class="font-semibold mr-2 text-left flex-auto">
                                    ${data.errorType === "notTurn" && data.finish ? texts["gameOver"] : data.message}
                                </span>
                            </div>
                        </div>
                    `)

                refreshNotif()
            })

            // Recieve when play
            socket.on("play", (data) => {
                console.log("Sa joue ici")
            })
            
            async function refreshNotif() {
                document.querySelectorAll(".notif").forEach(async(div, index) => {
                    await sleep(5000 + index * 400)
                    div.classList.add("animate-leftToRight")
                    await sleep(2000)
                    div.remove()
                })
            }

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms))
            }
        </script>
    </body>
</html>