<%
    const colors = ["text-red", "text-green", "text-blue", "text-yellow"]

    const color = colors[Math.floor(Math.random() * colors.length)]
%>
<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6 dark:bg-gray-secondary bg-white-secondary">
    <div class="flex items-center flex-shrink-0 <%= color%> mr-6">
        <a href="/" class="uppercase font-bold hover:text-black dark:hover:text-white">
            <img class="h-16 inline-block mr-6 align-middle" src="../public/img/logos/Logo.png" alt="Logo"/>
            
            <span class="hidden align-middle lg:inline-block">Accueil</span>
        </a>
    </div>
    <div class="block lg:hidden">
        <button class="mobileButton flex items-center px-3 py-2 text-teal-200 border-teal-400 <%= color %> hover:text-dark dark:hover:text-white">
            <i class="fas fa-bars "></i>
        </button>
    </div>
    <div class="mobileToHidden hidden w-full flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="ml-auto text-center lg:text-justify">
            <% if (req.session.user) { %>
                <a href="/statistics" class="p-10 align-middle lg:px-10 lg:py-0 block lg:inline-block uppercase font-bold <%= color %> hover:text-dark dark:hover:text-white">
                    Statistiques
                </a>
                <a href="/profile" class="p-10 align-middle lg:px-10 lg:py-0 block lg:inline-block uppercase font-bold <%= color %> hover:text-dark dark:hover:text-white">
                    Profile
                </a>
                <a href="/api/discord/logout" class="p-10 align-middle lg:px-10 lg:py-0 block lg:inline-block uppercase font-bold <%= color %> hover:text-dark dark:hover:text-white">
                    Se deconnecter
                </a>
            <% } else { %>
                <a href="/login" class="p-10 align-middle lg:p-0 block lg:inline-block uppercase font-bold <%= color %> hover:text-dark dark:hover:text-white">
                    Se connecter
                </a>
            <% } %>

            <button class="lg:dark:hidden dark:hidden lg:inline-block changeTheme mx-auto my-0 lg:ml-6 align-middle p-10 lg:p-0 uppercase font-bold text-black hover:text-yellow ">
                <i class="fas fa-moon fa-3x"></i>
            </button>
            
            <button class="lg:dark:inline-block dark:inline-block hidden changeTheme mx-auto my-0 lg:ml-6 align-middle p-10 lg:p-0 uppercase font-bold text-yellow dark:hover:text-white">
                <i class="fas fa-sun fa-3x"></i>
            </button>
        </div>
    </div>
</nav>
<script>
    document.querySelector(".mobileButton").addEventListener("click", (click) => {
        const classList = document.querySelector(".mobileToHidden").className.split(" ")

        if (classList.includes("hidden")) {
            document.querySelector(".mobileToHidden").classList.remove("hidden")
        } else {
            document.querySelector(".mobileToHidden").classList.add("hidden")
        }
    })

    if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
        localStorage.theme = "dark"
        document.documentElement.classList.add("dark")        
    }

    document.querySelectorAll(".changeTheme").forEach(button => {
        button.addEventListener("click", (click) => {
            const classList = document.documentElement.className.split(" ")

            if (classList.includes("dark")) {
                localStorage.theme = "light"
                document.documentElement.classList.remove("dark")
            } else {
                localStorage.theme = "dark"
                document.documentElement.classList.add("dark")
            }
        })
    })
</script>