<% 
function getIcon(type) { 
    if (type === "success") {
        return "fas fa-check"
    } else if (type === "info") {
        return "fas fa-info-circle"
    } else {
        return "fas fa-exclamation-triangle"
    }
}

function getColor(type) { 
    if (type === "success") {
        return "bg-green"
    } else if (type === "info") {
        return "bg-blue"
    } else if (type === "warn") {
        return "bg-yellow"
    } else {
        return "bg-red"
    }
}
%>

<% function notif() { %>
    <div class="all-notif fixed bottom-4 flex flex-col right-3 space-y-2">
        <% req.app.locals.messages.forEach((message, i) => { %>

            <% req.app.locals.messages = req.app.locals.messages.filter(msg => msg !== message) %>

            <div class="notif-<%= i %> text-center ml-auto">
                <div class="p-2 <%= getColor(message.type) %> items-center text-white leading-none lg:rounded-full flex lg:inline-flex">
                    <span class="flex rounded-full uppercase px-2 py-1 text-xs font-bold mr-3">
                        <i class="<%= getIcon(message.type) %>"></i>
                    </span>
                    <span class="font-semibold mr-2 text-left flex-auto">
                        <%= message.message %>
                    </span>
                    <button class="remove-notif id-<%= i %> font-semibold mr-2 text-left flex-auto hover:text-red-dark">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        <% }) %> 
    </div>
<% } %>

<% notif() %>

<script>
    document.querySelectorAll(".remove-notif").forEach(button => {
        button.addEventListener("click", click => {
            const classList = button.className.split(" ")
        
            const idToRemove = classList.find(className => className.startsWith("id-")).split("-")[1]

            document.querySelector(`.notif-${idToRemove}`).remove()
        })
    })
</script>