<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include("utils/header") %>
    </head>
    <body class="dark:bg-gray-primary bg-white-primary">
        <div>
            <%- include("utils/navbar") %> 

            <div>
                <div class="text-center">
                    <%= console.log(game) %>

                    <p class="dark:text-white text-black">Informations sur la partie <%= gameId %></p>

                    <p class="dark:text-white text-black">Jeux : <%= game.gameName %></p>

                    <% if (game.guildOrChat.type === "guild") { %>
                        <a class="<%= "text-" + req.color %> dark:hover:text-white hover:text-black" href="/server/<%= game.guildOrChat.data.id %>">Effectué sur le serveur <%= game.guildOrChat.data.name %></a>
                    <% } else if (game.guildOrChat.type === "chat") { %>
                        <a class="<%= "text-" + req.color %> dark:hover:text-white hover:text-black" href="/chat/<%= game.guildOrChat.data.id %>"></a>
                    <% } %>
                    
                    <p>Joué le <%= game.date %></p>
                    <p>Gagnant : <%= game.result %></p>

                    <p>Participants</p>

                    <div class="flex flex-row justify-center items-center flex-wrap md:flex-nowrap">
                        <% for (let i = 0; i < game.beetween.length; i++) { %>
                            <% const user = game.beetween[i] %>
                            <% const userData = req.data.users.find(u => u.plateformData.find(uData => uData.plateform === game.plateform && uData.data.id === user.id)) %>

                            <% if (!userData) { %>
                                <p>Profile pour <%= user.username %> non trouvé</p>
                            <% } else { %>
                                <a href="/profile/<%= userData.accountId %>" class="group w-80 m-3">
                                    <div class="dark:bg-gray-secondary bg-white-secondary rounded-3xl group-hover:transition duration-500 ease-in-out group-hover:rounded-md">
                                        <% if (game.plateform === "discord" && user.avatar) { %>
                                            <img class="my-0 mx-auto h-32 w-32" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=128" />
                                        <% } else { %>
                                            <img class="my-0 mx-auto h-32 w-32" src="https://avatars.dicebear.com/api/bottts/<%= userData.accountId %>.svg" />
                                        <% } %>

                                        <p class="dark:text-white text-black <%= "group-hover:text-" + req.color %> <%= "dark:group-hover:text-" + req.color %>"><%= user.username %><%= req.user && req.user.id === user.id ? " (Vous)" : "" %></p>
                                    </div>
                                </a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>