<!DOCTYPE html>
<html lang="<%= res.getLocale() %>">
    <head>
        <title>Game Bot | Games</title>

        <meta name="description" content="Game of <%= game.gameName %> play the <%= req.functions.formatDate(game.date) %> with <%= game.beetween.map(user => user.username).join(", ")%>">

        <meta name="theme-color" content="<%= req.color %>">

        <%- include("utils/header") %>
    </head>
    <body class="dark:bg-gray-primary bg-white-primary transition duration-500 ease-in-out">
        <div>
            <%- include("utils/navbar") %> 

            <div>
                <div class="text-center">
                    <p class="dark:text-white text-black text-lg"><%= res.__("dashboard.games.info") %> <%= gameId %></p>

                    <p class="dark:text-white text-black text-lg"><%= res.__("dashboard.games.game") %> : <%= game.gameName %></p>

                    <% if (game.guildOrChat.type === "guild") { %>
                        <a class="text-lg <%= "text-" + req.color %> dark:hover:text-white hover:text-black" href="/server/<%= game.guildOrChat.data.id %>"><%= res.__("dashboard.games.makeOnServer") %> <%= game.guildOrChat.data.name %></a>
                    <% } else if (game.guildOrChat.type === "chat") { %>
                        <a class="text-lg <%= "text-" + req.color %> dark:hover:text-white hover:text-black" href="/chat/<%= game.guildOrChat.data.id %>"></a>
                    <% } %>
                    
                    <p class="dark:text-white text-black text-lg">Joué le <%= req.functions.formatDate(game.date) %></p>

                    <%
                    let winner
                    
                    if (game.result !== "loose") {
                        winner = game.beetween.find(user => user.id === game.result)
                    } 
                    %>

                    <% if (winner) { %>
                        <p class="dark:text-white text-black text-lg"><%= res.__("dashboard.games.winner") %> : <%= winner.username %></p>
                    <% } else { %>
                        <p class="dark:text-white text-black text-lg"><%= res.__("dashboard.games.winner") %> : <%= res.__("dashboard.games.winnerNone") %></p>
                    <% } %>
                    
                    <div class="flex items-center justify-center my-5">
                        <div class="dark:bg-white-primary bg-gray-primary h-0.5 w-10/12"></div>
                    </div>

                    <p class="dark:text-white text-black text-xl font-bold"><%= res.__("dashboard.games.participant") %></p>

                    <div class="flex flex-row justify-center items-center flex-wrap md:flex-nowrap">
                        <% for (let i = 0; i < game.beetween.length; i++) { %>
                            <% const user = game.beetween[i] %>
                            <% const userData = req.data.users.find(u => u.plateformData.find(uData => uData.plateform === game.plateform && uData.data.id === user.id)) %>
                            <% const plateformData = userData.plateformData.find(pData => pData.plateform === game.plateform) %>

                            <% if (!userData) { %>
                                <p><%= res.__("dashboard.games.profileNotFound", { username: user.username }) %></p>
                            <% } else { %>
                                <a href="/profile/<%= userData.accountId %>" class="group w-80 m-3">
                                    <div class="dark:bg-gray-secondary bg-white-secondary rounded-3xl group-hover:transition duration-500 ease-in-out group-hover:rounded-md">

                                        <% if (game.plateform === "discord" && plateformData.data.avatar) { %>
                                            <img class="my-0 mx-auto h-32 w-32" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= plateformData.data.avatar %>.png?size=128" />
                                        <% } else { %>
                                            <img class="my-0 mx-auto h-32 w-32" src="https://avatars.dicebear.com/api/bottts/<%= userData.accountId %>.svg" />
                                        <% } %>

                                        <p class="dark:text-white text-black <%= "group-hover:text-" + req.color %> <%= "dark:group-hover:text-" + req.color %>">
                                            <% if (user.id === winner?.id) { %>
                                                <i class="fas fa-award"></i>
                                            <% } %>
                                            
                                            <%= user.username %>
                                            <%= req.user && req.user.id === user.id ? " " + res.__("dashboard.games.you") : "" %>
                                        </p>
                                    </div>
                                </a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>