<!DOCTYPE html>
<html lang="<%= res.getLocale() %>">
    <head>
        <title>Game Bot | Login</title>
        
        <meta name="theme-color" content="<%= req.color %>">

        <%- include("utils/header") %>
    </head>
    <body class="bgMainTheme animationTheme">
        <div class="flex flex-col flex-no-wrap content-center h-full">
            <%- include("utils/navbar") %> 

            <%- include("utils/notif") %>

            <div class="flex h-screen flex-grow">
                <div class="m-auto text-center">
                    <div class="group">
                        <i class="fab fa-discord font-bold group text-blurple block group-hover:animate-rotate360"></i>
                        <a class="font-bold text-blurple" href='/api/discord/login'><%= res.__("dashboard.login.connectWithDiscord") %></a>
                    </div>
                    <div>
                        <a class="font-bold text-transparent gradient-instagram">
                            <i class="fab fa-instagram"></i>
                            
                            <%= res.__("dashboard.login.connectWithInsta") %>
                        </a>
                    </div>
                    <div>
                        <p class="textTheme"><%= res.__("dashboard.login.noAccount") %></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>