<!DOCTYPE html>
<html lang="<%= res.getLocale() %>">
    <head>
        <title>Game Bot | Profile</title>

        <meta name="theme-color" content="<%= req.color %>">

        <%- include("utils/header") %>
    </head>
    <body class="bgMainTheme animationTheme">
        <div>
            <%- include("utils/navbar") %> 

            <div>
                <div class="group">
                    <div class="bgTheme m-8 rounded-3xl group-hover:transition duration-500 ease-in-out group-hover:rounded-md">
                        <div class="text-center">
                            <p class="textTheme font-bold text-xl"><%= res.__("dashboard.profile.globalInfo") %></p>
                        </div>
                        <div class="flex items-center justify-center my-1">
                            <div class="bgSepTheme h-0.5 w-5/12"></div>
                        </div>
                        <div class="p-5">
                            <p class="textTheme break-words"><i class="far fa-id-card"></i> <%= res.__("dashboard.profile.uniqueId") %> : <%= profileData.accountId %></p>
                            <p class="textTheme break-words"><i class="fas fa-language"></i> <%= res.__("dashboard.profile.activeLang") %> : <%= res.__(`dashboard.profile.${profileData.lang}`) %> <a class="hover:text-black dark:hover:text-white font-bold <%= "text-" + req.color %>" href="/profile/settings"><%= res.__("dashboard.profile.change") %> <i class="fas fa-cog"></i></a></p>
                            <p class="textTheme break-words"><i class="fas fa-clock"></i> <%= res.__("dashboard.profile.createdAt") %> <%= req.functions.formatDate(profileData.createdTimestamp) %></p>
                        </div>
                    </div>
                </div>
                <% plateformData.forEach(plateform => { %>
                    <div class="group">
                        <div class="<%= plateform.plateform %> bgTheme m-8 rounded-3xl group-hover:transition duration-500 ease-in-out group-hover:rounded-md">
                            <div class="text-center">
                                <% if (plateform.plateform === "discord" && plateform.data.avatar) { %>
                                    <img class="my-0 mx-auto h-32 w-32" src="https://cdn.discordapp.com/avatars/<%= plateform.data.id %>/<%= plateform.data.avatar %>.png?size=128" />
                                <% } else { %>
                                    <img class="my-0 mx-auto h-32 w-32" src="https://avatars.dicebear.com/api/bottts/<%= profileData.accountId %>.svg" />
                                <% } %>

                                <p class="textTheme"><%= res.__("dashboard.profile.profile") %> <%= plateform.plateform %></p>
                            </div>
                            <div class="flex items-center justify-center my-1">
                                <div class="bgSepTheme h-0.5 w-5/12"></div>
                            </div>
                            <div class="p-5">
                                <p class="textTheme"><%= res.__("dashboard.profile.infoUser") %> <span class="font-bold"><%= plateform.data.username %></span></p>
                                <p class="textTheme"><%= res.__("dashboard.profile.partyPlayed") %>
                                    <% if (plateform.plateform === "discord") { %>
                                        <span class="text-blurple">
                                    <% } else if (plateform.plateform === "instagram") { %>
                                        <span class="text-transparent gradient-instagram">
                                    <% } else { %>
                                        <span class="textTheme">
                                    <% } %>
                                <%= plateform.plateform %></span> : <%= profileData.statistics.filter(pltf => pltf.plateform === plateform.plateform).length %></p>

                                <% if (profileData.statistics.filter(pltf => pltf.plateform === plateform.plateform).length > 0) { %>
                                    <% let games = profileData.statistics.filter(pltf => pltf.plateform === plateform.plateform) %>
                                    <% let lastGame = games[games.length - 1] %>

                                    <a class="<%= "text-" + req.color %> dark:hover:text-white hover:text-black block" href="/games/<%= lastGame.gameId.replace("game-", "") %>"><%= res.__("dashboard.profile.lastGame") %> (<%= res.__(`dashboard.profile.result.${lastGame.result}`) %>) : <%= lastGame.gameName %><%= lastGame.versus && lastGame.versus !== "solo" ? ` | ${res.__("dashboard.profile.versus")} : ${lastGame.versus.username}` : "" %></a>
                                    
                                    <% if (lastGame.guildOrChat && lastGame.guildOrChat.type === "guild") { %>
                                        <a class="<%= "text-" + req.color %> dark:hover:text-white hover:text-black block" href="/server/<%= lastGame.guildOrChat.data.id %>"><%= res.__("dashboard.profile.onServer") %> : <%= lastGame.guildOrChat.data.name %></a>
                                    <% } else if (lastGame.guildOrChat && lastGame.guildOrChat.type === "chat") { %>
                                        <a>
                                            <!--

                                                Hep hep qu'est ce que tu fais la ?

                                                T'aimes bien ?

                                                Ici logiquement tu peux acceder a la conversation, mais niveau confidientalité, c'est un peu bof.

                                            -->
                                        </a>
                                    <% } else { %>
                                        <p class="textTheme"><%= res.__("dashboard.profile.noDataAboutGame") %></p>
                                    <% } %>
                                <% } else { %>
                                    <p class="textTheme"><%= res.__("dashboard.profile.noDataSave") %></p>
                                <% } %>

                            </div>
                        </div>
                    </div>
                <% }) %>
                <div class="flex items-center justify-center mb-5">
                    <div class="bgSepTheme h-0.5 w-10/12"></div>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <a class="<%= "text-" + req.color %> dark:hover:text-white hover:text-black text-xl" href="/api/discord/mergeAccount"><%= res.__("dashboard.profile.addDiscordAccount") %></a>
                    <a class="<%= "text-" + req.color %> dark:hover:text-white hover:text-black text-xl" href="/api/instagram/mergeAccount"><%= res.__("dashboard.profile.addInstaAccount") %></a>
                </div>
            </div>
        </div>
    </body>
</html>