<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include("utils/header") %>
    </head>
    <body class="dark:bg-gray-primary bg-white-primary">
        <div>
            <%- include("utils/navbar") %> 

            <div>
                <div class="text-center">
                    <p class="dark:text-white text-black">Information sur le serveur <%= server.name %> (<%= server.id %>)</p>

                    <%= console.log(req.data.games.filter(game => game.guildOrChat.type === "guild" && game.guildOrChat.data.id === server.id)) %>
                    <%= console.log(req.data.games) %>

                    <p><%= req.data.games.filter(game => game.guildOrChat.type === "guild" && game.guildOrChat.data.id === server.id).size %> parties jouées</p>
                </div>
            </div>
        </div>
    </body>
</html>