<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include("utils/header") %>
    </head>
    <body class="dark:bg-gray-primary bg-white-primary transition duration-500 ease-in-out">
        <div>
            <%- include("utils/navbar") %> 

            <div>
                <div class="text-center">
                    <p class="dark:text-white text-black"><%= req.__("dashboard.server.infoServer") %> <%= server.name %> (<%= server.id %>)</p>
                    <p class="dark:text-white text-black"><%= req.data.games.filter(game => game.guildOrChat.type === "guild" && game.guildOrChat.data.id === server.id).size %> <%= req.__("dashboard.server.partyPlayed") %></p>
                
                    <% 
                        let playedGame = {} 
                        let countPlayerGame = {}
                        let firstPlayedGame = null
                        let lastPlayedGame = null

                        req.data.games.filter(game => game.guildOrChat.type === "guild" && game.guildOrChat.data.id === server.id).forEach(game => {
                            if (firstPlayedGame > game.date) firstPlayedGame = game.date
                            if (lastPlayedGame < game.date) lastPlayedGame = game.date
                            
                            playedGame[game.gameName] = (playedGame[game.gameName] || 0) + 1
                            
                            for (let i = 0; i < game.beetween.length; i++) {
                                let player, { id, username } = game.beetween[i]

                                countPlayerGame[player.id].count = (countPlayerGame[player.id] || 0) + 1
                                countPlayerGame[player.id].username = username
                                //countPlayerGame[player.id].id = player.id
                            }
                        })

                        //Get highest played game
                        const highestPlayedGame = Object.keys(playedGame).reduce((a, b) => playedGame[a] > playedGame[b] ? a : b)
                    
                        //Get smaller played game
                        const smallerPlayedGame = Object.keys(playedGame).reduce((a, b) => playedGame[a] < playedGame[b] ? a : b)

                        //Get highest player game
                        const highestPlayerGame = Object.keys(countPlayerGame).reduce((a, b) => countPlayerGame.count[a] > countPlayerGame.count[b] ? a : b)
                    
                        //Get smallest player game
                        const smallestPlayerGame = Object.keys(countPlayerGame).reduce((a, b) => countPlayerGame.count[a] < countPlayerGame.count[b] ? a : b)
                    %>

                    <p class="dark:text-white text-black"><i class="fas fa-arrow-up text-green"></i><%= req.__("dashboard.server.highestPlayedGame") %> <%= highestPlayedGame %> <%= req.__("dashboard.server.with") %> <%= playedGame[highestPlayedGame] %> <%= req.__("dashboard.server.party") %></p>
                    <p class="dark:text-white text-black"><i class="fas fa-arrow-down text-red"></i><%= req.__("dashboard.server.smallerPlayedGame") %> <%= smallerPlayedGame %> <%= req.__("dashboard.server.with") %> <%= playedGame[smallerPlayedGame] %> <%= req.__("dashboard.server.party") %></p>
                    <p class="dark:text-white text-black"><i class="fas fa-arrow-up text-green"></i><%= req.__("dashboard.server.highestPlayerGame") %> <a href="/server"><%= highestPlayerGame.username %></a> <%= req.__("dashboard.server.with") %> <%= countPlayerGame[highestPlayerGame.id] %> <%= req.__("dashboard.server.party") %></p>
                    <p class="dark:text-white text-black"><i class="fas fa-arrow-down text-red"></i><%= req.__("dashboard.server.smallerPlayerGame") %> <a><%= smallestPlayerGame.username %></a> <%= req.__("dashboard.server.with") %> <%= countPlayerGame[smallestPlayerGame.id] %> <%= req.__("dashboard.server.party") %></p>
                    <p class="dark:text-white text-black"><%= req.__("dashboard.server.firstPlayedGame") %> <%= firstPlayedGame %></p>
                    <p class="dark:text-white text-black"><%= req.__("dashboard.server.lastPlayedGame") %> <%= lastPlayedGame %></p>
                </div>
            </div>
        </div>
    </body>
</html>