<!DOCTYPE html>
<html lang="<%= res.getLocale() %>">
    <head>
        <title>Game Bot | Settings</title>

        <meta name="theme-color" content="<%= req.config.colors[req.color] %>">

        <%- include("utils/header") %>
    </head>
    <body class="bgMainTheme animationTheme">
        <div>
            <%- include("utils/navbar") %> 

            <%- include("utils/notif") %>

            <div>
                <div class="group">
                    <div class="bgTheme m-8 rounded-3xl group-hover:transition duration-500 ease-in-out group-hover:rounded-md">
                        <div class="text-center">
                            <p class="textTheme font-bold text-xl"><i class="fas fa-language"></i> <%= res.__("dashboard.settings.lang") %></p>
                        </div>
                        <div class="flex items-center justify-center my-1">
                            <div class="bgMainTheme h-0.5 w-5/12"></div>
                        </div>
                        <div class="p-5">
                            <% i18n.getLocales().forEach(lang => { %>
                                <div>
                                    <input type="checkbox" id="lang-<%= lang %>" <%= res.getLocale() === lang ? "checked" : "" %> class="bgTheme switchLang" />
                                    <label for="lang-<%= lang %>" class="textTheme font-bold text-xl"><%= res.__(`dashboard.settings.${lang}`) %></label>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                    <div class="bgTheme m-8 rounded-3xl group-hover:transition duration-500 ease-in-out group-hover:rounded-md">
                        <div class="text-center">
                            <p class="text-red-dark font-bold text-xl"><i class="fas fa-exclamation-triangle"></i> <%= res.__("dashboard.settings.dangerous") %></p>
                        </div>
                        <div class="flex items-center justify-center my-1">
                            <div class="bgMainTheme h-0.5 w-5/12"></div>
                        </div>
                        <div class="p-5">
                            <% plateformData.forEach(plateform => { %>
                                <div class="block lg:inline-block custom-button-container">
                                    <!--

border-2 p-5 border-red-dark m-5 dark:text-white text-dark

                                    -->
                                    <button class="textTheme p-5 border-2 rounded-xl border-red-dark hover:transition transition duration-700 ease-in-out hover:bg-red-dark hover:text-white">
                                        <%= res.__("dashboard.settings.deleteAccount") %> <%= plateform.plateform %> 
                                    </button>
                                </div>
                            <% }) %>
                            <div class="block lg:inline-block m-5">
                                <button class="textTheme p-5 border-2 rounded-xl border-red-dark hover:transition transition duration-700 ease-in-out hover:bg-red-dark hover:text-white">
                                    <%= res.__("dashboard.settings.deleteMyAccount") %>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const switchLang = document.querySelectorAll(".switchLang")
            switchLang.forEach(function(elem) {
                elem.addEventListener("change", function() {
                    if (elem.checked) {
                        [type, lang, country] = elem.id.split("-")


                        window.location.href = `/profile/settings?lang=${lang}-${country}`
                    }
                })
            })
        </script>
    </body>
</html>