<!DOCTYPE html>
<html lang="<%= res.getLocale() %>">
    <head>
        <title>Game Bot | Sync</title>

        <meta name="theme-color" content="<%= req.color %>">

        <%- include("utils/header") %>
    </head>
    <body class="bgMainTheme animationTheme">
        <div>
            <%- include("utils/navbar") %> 

            <% if (type === "instagram" || !code) { %>
                <p>Votre code est <%= code %></p>
                <p>Envoyer !link <%= code %> au bot (@sudrefb) pour valider la synchronisation</p>
            <% } else { %> 
                <p>Aie une erreur ave votre synchronisation est survenue</p>
            <% } %> 
        </div>
    </body>
</html>