<!DOCTYPE html>
<html lang="<%= res.getLocale() %>">
    <head>
        <title>Game Bot | <%= res.__("dashboard.sync.sync") %></title>

        <meta name="theme-color" content="<%= req.config.colors[req.color] %>">

        <%- include("utils/header") %>
    </head>
    <body class="bgMainTheme animationTheme">
        <div>
            <%- include("utils/navbar") %> 

            <% if (type === "instagram" || !code) { %>
                <p class="dark:text-white text-black"><%= res.__("dashboard.sync.codeIs") %> <%= code %></p>
                <p class="dark:text-white text-black"><%= res.__("dashboard.sync.sendTo", { code, instagramAt: "@sudrefb" }) %></p>
            <% } else { %> 
                <p class="dark:text-white text-black"><%= res.__("error.unknownError") %></p>
            <% } %> 
        </div>
    </body>
</html>